#  Usability Test Results

## Build 1.0 (3)

     - User tried to tap the 3-dots when it was inactive
     - Not clear how to stop the metronome
     - When the controls disappeared, there was some initial panick before tapping and having them come back
     - Slider not responding to all touches
     - Can't see the tempo when sliding

### Potential solutions
    - (a) keep the menu active, (b) make it completely transparent
    - (a) Add a stop button, (b) implement tutorial
    - (A) Add a "show controls" indicator, (b) implement tutorial
    - make the slider label the touch target and have it update slider value (custom thumb)
    - (a) Make text bigger on touch, (b) move text away from thumb on touch

### Solution
    - Keep menu active
    -
    - 
